@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.ComplaintListViewModel
@{
    Layout = "../_LayoutPageAdmin.cshtml";
}

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Müşteri Email Adresi</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Oluşturulma Tarihi</th>
        <th>İşlemler</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Complaints)
    {
        <tr>
            <td>@item.ComplaintID</td>
            <td>@item.Customer.Email</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.CreatedDate</td>
            <td>
               
                @Html.ActionLink("Sil", "Delete", new { id = item.ComplaintID })
            </td>
        </tr>
    }
    </tbody>
</table>
