@using ETicaretDersiProje.Eticaret.Entities.Concrete
@{
    Layout = "../_LayoutPageHome.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Anasayfa</a></li>
                <li class="active">Sipariş Tamamla</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="step-one">
            <h2 class="heading">Step1</h2>
        </div>
        <div class="checkout-options">
            <h3>New User</h3>
            <p>Checkout options</p>
            <ul class="nav">
                <li>
                    <label><input type="checkbox"> Register Account</label>
                </li>
                <li>
                    <label><input type="checkbox"> Guest Checkout</label>
                </li>
                <li>
                    <a href=""><i class="fa fa-times"></i>Cancel</a>
                </li>
            </ul>
        </div><!--/checkout-options-->
        <div class="register-req">
            <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
        </div><!--/register-req-->
        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Shopper Information</p>
                        <form>
                            <input type="text" placeholder="Display Name">
                            <input type="text" placeholder="User Name">
                            <input type="password" placeholder="Password">
                            <input type="password" placeholder="Confirm password">
                        </form>
                        <a class="btn btn-primary" href="">Get Quotes</a>
                        <a class="btn btn-primary" href="">Continue</a>
                    </div>
                </div>
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <p>Bill To</p>
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Company Name">
                                <input type="text" placeholder="Email*">
                                <input type="text" placeholder="Title">
                                <input type="text" placeholder="First Name *">
                                <input type="text" placeholder="Middle Name">
                                <input type="text" placeholder="Last Name *">
                                <input type="text" placeholder="Address 1 *">
                                <input type="text" placeholder="Address 2">
                            </form>
                        </div>
                        <div class="form-two">
                            <form>
                                <input type="text" placeholder="Zip / Postal Code *">
                                <select>
                                    <option>-- Country --</option>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>
                                <select>
                                    <option>-- State / Province / Region --</option>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>
                                <input type="password" placeholder="Confirm password">
                                <input type="text" placeholder="Phone *">
                                <input type="text" placeholder="Mobile Phone">
                                <input type="text" placeholder="Fax">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Shipping Order</p>
                        <textarea name="message" placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
                        <label><input type="checkbox"> Shipping to bill address</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Review & Payment</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ürünler</td>
                        <td class="description"></td>
                        <td class="price">Fiyatı</td>
                        <td class="quantity">Adet</td>
                        <td class="total">Toplam</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Session["sepet"] == null || (int)Session["total"]==0)
                    {
                        <tr>
                            <td class="cart_product"></td>
                            <td class="cart_description"></td>
                            <td class="cart_price">
                                <p>Sepetinizde ürün bulunmamaktadır.</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">

                                </div>
                            </td>
                            <td class="cart_total"></td>
                            <td class="cart_delete"></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in (List<Cart>)Session["sepet"])
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="@item.Product.Picture" alt="" style="width: 110px; height: 110px"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="/Home/Detail/@item.Product.ProductID">@item.Product.ProductName</a></h4>
                                    <p>Web ID: 1089772</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.Product.UnitPrice TL</p>
                                </td>
                                <td class="cart_quantity">
                                    <p>@item.Quantity</p>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@(item.Product.UnitPrice * item.Quantity) TL</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="/Cart/Remove/@item.Product.ProductID"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <table class="table table-condensed total-result">
                                    <tr>
                                        <td>Sepet Toplamı</td>
                                        <td>@Session["total"]</td>
                                    </tr>

                                    <tr class="shipping-cost">
                                        <td>Kargo Ücreti</td>
                                        <td>Bedava</td>
                                    </tr>
                                    <tr>
                                        <td>Toplam</td>
                                        <td><span>@Session["total"]</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="payment-options">
            <span>
                <label><input type="checkbox"> Direct Bank Transfer</label>
            </span>
            <span>
                <label><input type="checkbox"> Check Payment</label>
            </span>
            <span>
                <label><input type="checkbox"> Paypal</label>
            </span>
        </div>
    </div>
</section> <!--/#cart_items-->
