@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.CartListViewModel
@using ETicaretDersiProje.Eticaret.Entities.Concrete
@{
    Layout = "../_LayoutPageHome.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Anasayfa</a></li>
                <li class="active">Sipariş Tamamla</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="register-req">
            <p>Lütfen adresinizi doğru giriniz.Alıcı bilgileri fatura işlemleri için kullanılır. Ödeme kapıda yapılacaktır.</p>
        </div><!--/register-req-->
        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Hesap Bilgileri</p>
                        <form>
                            @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                            @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                           
                        </form>
                      
                    </div>
                </div>
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <p>Alıcı Bilgileri</p>
                        <div class="form-one">
                            @using (Html.BeginForm(Html.BeginForm("Add", "Checkout")))
                            {

                                @Html.EditorFor(model => model.Ordered.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Ordered.Email, "", new { @class = "text-danger" })

                                @Html.EditorFor(model => model.Ordered.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adınız" } })
                                @Html.ValidationMessageFor(model => model.Ordered.FirstName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Ordered.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Soyadınız" } })
                                @Html.ValidationMessageFor(model => model.Ordered.LastName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Ordered.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefon" } })
                                @Html.ValidationMessageFor(model => model.Ordered.Phone, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Ordered.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ülke" } })
                                @Html.ValidationMessageFor(model => model.Ordered.Country, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Ordered.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Şehir" } })
                                @Html.ValidationMessageFor(model => model.Ordered.City, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Ordered.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adres" } })
                                @Html.ValidationMessageFor(model => model.Ordered.Address, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Ordered.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Posta Kodu" } })
                                @Html.ValidationMessageFor(model => model.Ordered.PostalCode, "", new { @class = "text-danger" })


                                <button type="submit" class="btn btn-primary">Satın al</button>
                            }
                        </div>
                      
                    </div>
                </div>
        
            </div>
        </div>
        <div class="review-payment">
            <h2>Review & Payment</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ürünler</td>
                        <td class="description"></td>
                        <td class="price">Fiyatı</td>
                        <td class="quantity">Adet</td>
                        <td class="total">Toplam</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Session["sepet"] == null || (int)Session["total"]==0)
                    {
                        <tr>
                            <td class="cart_product"></td>
                            <td class="cart_description"></td>
                            <td class="cart_price">
                                <p>Sepetinizde ürün bulunmamaktadır.</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">

                                </div>
                            </td>
                            <td class="cart_total"></td>
                            <td class="cart_delete"></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in (List<Cart>)Session["sepet"])
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="@item.Product.Picture" alt="" style="width: 110px; height: 110px"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="/Home/Detail/@item.Product.ProductID">@item.Product.ProductName</a></h4>
                                    
                                </td>
                                <td class="cart_price">
                                    <p>@item.Product.UnitPrice TL</p>
                                </td>
                                <td class="cart_quantity">
                                    <p>@item.Quantity</p>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@(item.Product.UnitPrice * item.Quantity) TL</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="/Cart/Remove/@item.Product.ProductID"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <table class="table table-condensed total-result">
                                    <tr>
                                        <td>Sepet Toplamı</td>
                                        <td>@Session["total"]</td>
                                    </tr>

                                    <tr class="shipping-cost">
                                        <td>Kargo Ücreti</td>
                                        <td>Bedava</td>
                                    </tr>
                                    <tr>
                                        <td>Toplam</td>
                                        <td><span>@Session["total"]</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</section> <!--/#cart_items-->
